# Annoying fix to make the IntelliJ Bazel plugin work on macOS
build --action_env=BAZEL_USE_CPP_ONLY_TOOLCHAIN=1

# Turn on toolchain resolution for cc rules
build --incompatible_enable_cc_toolchain_resolution
